<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'view_attendance_section' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{'select_section' | translate}}</ion-label>
    <ion-select [(ngModel)]="selectedSection" (ionChange)="onFiltersChange()">
      <ion-select-option *ngFor="let section of sections" [value]="section">{{'section'| translate}}: {{ section }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{'select_subject' | translate}}</ion-label>
    <ion-select [(ngModel)]="selectedSubject" (ionChange)="onFiltersChange()">
      <ion-select-option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{'select_date' | translate}}</ion-label>
    <ion-datetime [(ngModel)]="selectedDate" (ionChange)="onFiltersChange()"></ion-datetime>
  </ion-item>

  <ion-card *ngIf="filteredAttendanceRecords.length > 0">
    <ion-card-header>
      <ion-card-title>{{'attendance_record' | translate}} - {{ selectedSection }} - {{ selectedSubject }} - {{ selectedDate | date:'longDate' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><strong>{{'student_name' | translate}}</strong></ion-col>
          <ion-col><strong>{{'status' | translate}}</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let record of filteredAttendanceRecords">
          <ion-col>{{ record.studentName }}</ion-col>
          <ion-col>{{ record.present ? 'Presente' : 'Ausente' }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="filteredAttendanceRecords.length === 0">
    <ion-card-content>
      <p>{{'no_attendance_records_section' | translate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
