.profile-header {
    position: relative;
  }
  
  .profile-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-picture-container {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid white;
  }
  
  #cuadroNombre{
    padding-top: 20px;
  }

  .language-button {
    background-color: transparent; /* Botontransparentes */
    color: var(--ion-color-primary); 
    font-weight: bold;
    border: 2px solid var(--ion-color-primary); 
    border-radius: 10px; /* Bordes redondeados */
    padding: 5px 15px; /* Espaciado interno */
    margin: 0 5px; /* Separación entre los botones */
    transition: background-color 0.3s ease; /* Transición suave en el hover */
    
  }
  
  .language-button:hover {
    background-color: var(--ion-color-primary); /* Cambiar fondo en hover */
    color: white; /* Cambiar color del texto en hover */
  }
  
  .language-button ion-icon {
    margin-right: 5px; /* Espacio entre el icono y el texto */
  }
  